<a href="https://colab.research.google.com/github/cweiqiang/wq.github.io/blob/main/Cheatsheet_Data_Wrangling_in_Pandas_Cheat_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reshaping Data

## Pivot

In [3]:
import pandas as pd
data = {'Date' : ['2016-03-01', '2016-03-01', '2016-03-02'],
        'Type': ['a', 'b', 'c'],
        'Value': [111, 123, 234]}
df2 = pd.DataFrame(data, columns=['Date','Type','Value'])
df2

         Date Type  Value
0  2016-03-01    a    111
1  2016-03-01    b    123
2  2016-03-02    c    234

In [5]:
#Spread rows into columns
df3= df2.pivot(index='Date',
               columns='Type',
               values='Value')
df3

Type            a      b      c
Date
2016-03-01  111.0  123.0    NaN
2016-03-02    NaN    NaN  234.0

## Pivot Table

In [7]:
df4 = pd.pivot_table(df2,
                     values='Value',
                     index='Date',
                     columns=['Type'])
df4

Type            a      b      c
Date
2016-03-01  111.0  123.0    NaN
2016-03-02    NaN    NaN  234.0

## Stack / Unstack

In [10]:
#Pivot a level of index labels
stacked = df2.stack() #Pivot a level of column labels
stacked

0  Date     2016-03-01
   Type              a
   Value           111
1  Date     2016-03-01
   Type              b
   Value           123
2  Date     2016-03-02
   Type              c
   Value           234
dtype: object

In [11]:
stacked.unstack() #Pivot a level of index labels

         Date Type Value
0  2016-03-01    a   111
1  2016-03-01    b   123
2  2016-03-02    c   234

## Melt

In [12]:
#Gather columns into rows
pd.melt(df2,
        id_vars=["Date"],
        value_vars=["Type", "Value"],
        value_name="Observations")

         Date variable Observations
0  2016-03-01     Type            a
1  2016-03-01     Type            b
2  2016-03-02     Type            c
3  2016-03-01    Value          111
4  2016-03-01    Value          123
5  2016-03-02    Value          234

# Iteration

In [13]:
df2.iteritems() # #(Column-index, Series) pairs

In [15]:
for label, content in df2.items():
    print(f'label: {label}')
    print(f'content: {content}', sep='\n')

label: Date
content: 0    2016-03-01
1    2016-03-01
2    2016-03-02
Name: Date, dtype: object
label: Type
content: 0    a
1    b
2    c
Name: Type, dtype: object
label: Value
content: 0    111
1    123
2    234
Name: Value, dtype: int64

In [14]:
df2.iterrows() #(Row-index, Series) pairs

`DataFrame.iterrows()`

Iterate over DataFrame rows as (index, Series) pairs.

Yields

- indexlabel or tuple of label
- The index of the row. A tuple for a MultiIndex.

dataSeries

- The data of the row as a Series.

In [17]:
df = pd.DataFrame([[1, 1.5]], columns=['int', 'float'])
row = next(df.iterrows())[1]
row

int      1.0
float    1.5
Name: 0, dtype: float64

# Missing Data

In [18]:
df.dropna()

   int  float
0    1    1.5

In [ ]:
#Replace values with others
df3.fillna(df3.mean())
df2.replace("a","f")

# Advanced Indexing

## Selecting

In [ ]:
df3.loc[:,(df3>1).any()] #Select cols with vals > 1
df3.loc[:,(df3>1).any()] #Select cols with NaN
df3.loc[:,(df3>1).all()] #Select cols without NaN
df3.loc[:,df3.isnull().any()] #Select cols with NaN
df3.loc[:,df3.notnull().all()] #Select cols without NaN

## Indexing With isin()

In [ ]:
df[(df.Country.isin(df2.Type))] #Find same elements
df3.filter(items=["a","b"]) #Filter on values
df.select(lambda x: not x%5) #Select specific elements

## Where

In [ ]:
s.where(s > 0) #Subset the data

## Query

In [ ]:
df6.query('second > first') #Query DataFrame

## Setting/Resetting Index

In [ ]:
df.set_index('Country') #Set the index
df4 = df.reset_index() #Reset the index
df = df.rename(index=str, # Rename DataFrame,
               columns={"Country": "cntry",
                   "Capital": "cptl" ,
                   "Population":"ppltn" })

## Reindexing

In [ ]:
s2 = s.reindex(['a','c','d','e','b'])

### Forward Filling

In [19]:
df2.reindex(range(4), method='ffill')

         Date Type  Value
0  2016-03-01    a    111
1  2016-03-01    b    123
2  2016-03-02    c    234
3  2016-03-02    c    234

### Backward Filling

In [31]:
s = pd.DataFrame([3])
s3 = s.reindex(range(5), method='bfill')
s3

     0
0  3.0
1  NaN
2  NaN
3  NaN
4  NaN

## MultiIndexing

In [ ]:
import numpy as np
arrays = [np.array([1,2,3]),np.array([5,4,3])]
df5 = pd.DataFrame(np.random.rand(3, 2), index=arrays)
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples,
names=['first','second'])
df6 = pd.DataFrame(np.random.rand(3, 2), index=index)
df2.set_index(["Date","Type"])

# Duplicate Data

In [ ]:
s3.unique() #Return unique values
df2.duplicated('Type') #Check duplicates
df2.drop_duplicates('Type', keep ='last') #Drop duplicates
df.index.duplicated() #Check index duplicates

# Grouping Data

### Aggregation

In [ ]:
df2.groupby(by=['Date','Type']).mean()
df4.groupby(level=0).sum()
df4.groupby(level=0).agg({'a':lambda x:sum(x)/len(x), 'b': np.sum})

### Transformation

In [ ]:
customSum = lambda x: (x+x%2)
df4.groupby(level=0).transform(customSum)

# Combining Data

## Merge

In [32]:
data_1 = {'X1' : ['a', 'b', 'c'],
        'X2': [1, 2, 3]}
data1 = pd.DataFrame(data_1, columns=['X1','X2'])
data1

  X1  X2
0  a   1
1  b   2
2  c   3

In [39]:
data_2 = {'X1' : ['a', 'b', 'd'],
        'X3': [21, np.nan, 23]}
data2 = pd.DataFrame(data_2, columns=['X1','X3'])
data2

  X1    X3
0  a  21.0
1  b   NaN
2  d  23.0

In [40]:
pd.merge(data1,
         data2,
         how='left',
         on='X1')

  X1  X2    X3
0  a   1  21.0
1  b   2   NaN
2  c   3   NaN

In [41]:
pd.merge(data1,
         data2,
         how='right',
         on='X1')

  X1   X2    X3
0  a  1.0  21.0
1  b  2.0   NaN
2  d  NaN  23.0

In [42]:
pd.merge(data1,
         data2,
         how='inner',
         on='X1')

  X1  X2    X3
0  a   1  21.0
1  b   2   NaN

In [43]:
pd.merge(data1,
         data2,
         how='outer',
         on='X1')

  X1   X2    X3
0  a  1.0  21.0
1  b  2.0   NaN
2  c  3.0   NaN
3  d  NaN  23.0

## Concatenate

### Vertical

In [ ]:
s.append(s2)

### Horizontal/Vertical

In [ ]:
pd.concat([s,s2],axis=1, keys=['One','Two'])

In [47]:
pd.concat([data1, data2], axis=1, join='inner')

  X1  X2 X1    X3
0  a   1  a  21.0
1  b   2  b   NaN
2  c   3  d  23.0

# Dates

In [49]:
import pandas as pd
date='2020/11/26 12:00:00'
date_time=pd.to_datetime(date, format='%Y/%m/%d %H:%M:%S')
date_time

Timestamp('2020-11-26 12:00:00')

In [71]:
df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'])
df

        date  value
0 2000-03-10      2
1 2000-03-11      3
2 2000-03-12      4

In [ ]:
df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'], dayfirst=True)
df

More details on `pd.to_datetime` [here](https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587)

In [52]:
Df = {'Date' : ['a', 'b', 'c'],
        'X2': [1, 2, 3]}
DF = pd.DataFrame(Df, columns=['Date','X2'])

In [72]:
DF['Date']= pd.date_range('2000-1-1',
                           periods=3,
                           freq='H')
DF

                 Date  X2
0 2000-01-01 00:00:00   1
1 2000-01-01 01:00:00   2
2 2000-01-01 02:00:00   3

In [58]:
import datetime
dates = [datetime.datetime(2012,5,1), datetime.datetime(2012,5,2)]
dates

[datetime.datetime(2012, 5, 1, 0, 0), datetime.datetime(2012, 5, 2, 0, 0)]